<p id="notice"><%= notice %></p>

<h1>Listing Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Pointing</th>
      <th>Good points</th>
      <th>Bad points</th>
      <th>Would back</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.pointing %></td>
        <td><%= evaluation.good_points %></td>
        <td><%= evaluation.bad_points %></td>
        <td><%= evaluation.would_back %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
